@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-color: #191919 !important;
}
/* Color Guideline */
.text-dt-prm{
  color: #8F00FF !important;
}

.bg-dt-prm{
  background-color: #8F00FF !important;
}

.bg-dt-black{
  background-color: #191919;
}
.dt-hr{
  background: linear-gradient(270deg, #8F00FF 0%, rgba(143, 0, 255, 0) 97.55%);
}
.border-dt-prm{
  border-color: #8F00FF !important;
}
.border-dt-opa{
  border-color: rgba(122, 27, 243, 0.2) !important;
}
/* --- end Guidline */

/* Typography */
p,div{
  font-family: 'Jost', sans-serif;
}

h1,h2,h3,h4,h5,h6,.poppins{
  font-family: 'Poppins', sans-serif !important;
  line-height: 125% !important;
}

.dt-font{
  line-height: 125%;
  letter-spacing: 0.02em;
}
/* --- end Typography */
.iconify{
  color:currentColor;
}

/* Custom class */
@layer utilities {
  .dt-navbar{
    @apply fixed top-0 right-0 flex flex-col w-[15em] bg-black h-full z-30 items-end p-5 lg:static lg:right-auto lg:bg-transparent lg:flex-row lg:w-auto lg:items-center gap-10 text-white translate-x-full lg:translate-x-0;
  }
  .dt-navbar.active{
    @apply translate-x-0;
  }
}

.dt-dots .swiper-pagination-bullet{
  width: 20px !important;
  height: 6px !important;
  background: #c4c4c4 !important;
  border-radius: 5px !important;
  cursor: pointer;
}
.dt-dots .swiper-pagination-bullet-active{
  width:50px !important;
  background: #8F00FF !important;
}
